*.pyc
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
poetry.lock
pipfile.lock

*.sqlite3
*.db

/media/
/static/
/staticfiles/

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

*.log
.DS_Store
Thumbs.db